/* -- General -- */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;

  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #d8f1fe;
}

* {
  font-family: 'dosis', sans-serif;
  color: #1d3149;
  text-rendering: optimizeLegibility;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.btn {
  padding: 0.8rem 1.5rem;
  background: #9addfd;
  color: #1d3149;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none !important;
  max-width: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
}

.btn:hover {
  color: #1d3149;
  background: #4abef9;
}

/* -- Nav -- */

.nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 2rem 0 0;
}

.nav-left {
  display: inline-flex;
  align-items: center;
}

.nav-right {
  display: inline-flex;
  align-items: center;
}

.nav-logo {
  width: 4rem;
  min-height: 3rem;
  margin-right: 1rem;
}

.nav-item {
  font-weight: 900;
  font-size: 2.5rem;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: none;
}

.nav-btn {
  padding: 0.8rem 1.5rem;
  background: #9addfd;
  color: #1d3149;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none !important;
}

.nav-btn:hover {
  color: #1d3149;
  background: #4abef9;
}

.nav-btn:active {
  background: #4abef9;
  color: #1d3149;
}

.nav-txt {
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: calc(100vh - 8rem);
  max-width: 40rem;
  margin: 0 auto;
}

.hero-brand {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.hero-brand-logo {
  width: 12rem;
  min-height: 6rem;
  margin: 1rem auto;
  transition: all 0.1s ease-out;
}

.hero-brand-logo:hover {
  transform: scale(1.1);
}
.hero-brand-logo:active {
  transition: none;
  transform: scale(0.95);
}

.hero-brand-name {
  font-size: 4rem;
  font-weight: 700;
  margin: 0.5rem auto;
  min-height: 3rem;
}

.hero-brand-brief {
  font-size: 2.7rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.2rem;
  max-width: 40rem;
  margin: 0 auto;
}

.hero-cta {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 1.5rem;
  margin-bottom: 24px;
}

.cta {
  display: flex;
  align-content: center;
  text-decoration: none;
  margin: 0 1rem;
  transition: all 0.1s ease-out;
  background-color: #1d3149;
  border-radius: 50%;
  padding: 8px;
  align-items: center;
}

.cta:hover {
  transform: scale(1.3);
}

.cta:active {
  transform: scale(0.9);
}

.cta-img {
  filter: invert(89%) sepia(74%) saturate(3317%) hue-rotate(176deg) brightness(103%) contrast(108%);
  width: 2.2rem;
}

.cta-lbl {
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 3rem;
}

@media only screen and (min-width: 769px) {
  .hero {
    margin: -4rem auto 0;
  }
}

.alert {
  position: fixed;
  top: 8rem;
  padding: 1rem;
  right: 2rem;
  width: 18rem;
  background: #fff;
  border-radius: 0.5rem;
  height: auto;
  transition: all 0.1s ease-out;
}

.alert:hover {
  height: auto;
}

.alert-time {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.ocean {
  /* height: 5%; */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave {
  background: url(../img/wave.svg) repeat-x;
  position: absolute;
  top: -117px;
  width: 6400px;
  height: 235px;
  animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
